
<div class="section info">
  <div class="container">
      <div class="row">
          <div class="col xl7">
              <div class="main-info">
                  <span class="red-line"></span>
                  <p class="sub">Допомога у відправленні вантажу
                      та отриманні нових замовлень на перевезення </p>
                  </div>
              </div>
          </div>
          <a class="arrow-btn"><img src="../../../assets/img/down-arrow.svg" alt=""></a>
      </div>
  </div>
  

  <div class="section add ">
      <div class="container">
          <div class="row">
              <div class="col xl5 offset-xl1">
                  <h3>Всі вантажі як на долоні</h3>
                  <p>Ви самі вибираєте перевізника</p>
                  <a routerLink="/client" class="btn-large">Додати замовлення</a>
              </div>
              <div class="col xl4">
                  <img src="../../../assets/img/box_and_house.svg" alt="">
              </div>
          </div>
      </div>
  </div>

  

  <div class="section client">
      <div class="container">
          <h2>Переваги</h2>
          <div class="row">
              <div class="col xl2 offset-xl2  client-features">
                  <img src="../../../assets/img/speed.svg" alt="Speed">
                  <p>Швидко</p>
                  <span>Швидке знаходження перевізника</span>
              </div>
              <div class="col xl2 offset-xl1  client-features">
                  <img src="../../../assets/img/shield.svg" alt="Shield">
                  <p>Безпечно</p>
                  <span>Перевірені перевізники</span>
              </div>
              <div class="col xl2 offset-xl1  client-features" >
                  <img style="margin-left: 6px" src="../../../assets/img/calculator.svg" alt="Calculator">
                  <p>Вигідно</p>
                  <span>Розрахунок ціни перевезення</span>
              </div> 
              
          </div>
      </div>
  </div>
  

  <section class="main-reg">
      <div class="container">
          <div class="row app">
              <div class="col xl4 offset-xl1">
                  <img class="reg-app" src="../../../assets/img/smartphone.svg" alt="app">
              </div>
              <div class="col xl6 offset-xl1">
                  <h3>Безкоштовний додаток для смартфона</h3>
                 <p> Вантаж завжди під контролем. <br>
                  Замовник може подивитися статус замовлення. <br>
                  Перевізник прийняти нове замовлення.</p>
                  <span>Завантажте додаток на смартфон</span> <br>
                  <a href=""><img class="google" src="../../../assets/img/google.png" alt=""></a>
              </div>
          </div>
          <div class="row">
              <div class="col xl3 offset-xl2">
                  <img src="../../../assets/img/man.svg" alt="Man">
                  <h5>Вантажовідправникам</h5>
                  <a routerLink="/client" class="btn-large amber accent-4">Розмістити вантаж</a>
              </div>
              <div class="col xl3 offset-xl2">
                  <img src="../../../assets/img/car.svg" alt="Man">
                  <h5>Перевізникам</h5>
                  <a routerLink="/transporter" class="btn-large amber accent-4">Стати перевізником</a>
              </div>
          </div>
      </div>
  </section>
