.active-order{
    background-color: rgba(17, 14, 11, 0.6  );
    border-radius: 20px;
    padding: 30px;
    margin-top: 100px;
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
}
.active-order-item{
        border-radius: 20px;
        padding: 20px;
        background-color: rgba(17, 14, 11, 0.9  );
        color: white;    
        margin-bottom: 30px;
    }
.searching{
    display: inline-block;
    position: relative;
    left: 570px;
    top: -47px;
}
.info-link{
    cursor: pointer;
    
}
.modal.modal-fixed-footer{
    width: 600px;
    border-radius: 20px;
    margin-top: 5px;
    height: 700px;
    
}
.modal-footer{
    width: 300px;
    background-color: rgba(17, 14, 11, 0.9  );
 
}
.modal.modal-fixed-footer .modal-content {
    height: 100%;
   color: white;
   padding-left: 50px;
   overflow: hidden;
}
.transporter-block{
    height: 0;
}
.modal .modal-content span{
    font-size: 12px;
    padding: 0;
    color: red;
}