
<div class="section about">
<div class="container">
  <div class="row">
      <div class="col xl7">
          <h2>CarGo</h2>
          <p>Ми допомагаємо вантажовідправникам швидко, якісно і без переплат доставити вантажі, а перевізникам - отримувати замовлення на їх перевезення.</p>
      </div>
  </div>
</div>

</div>
<div class="section support">
<div class="container">
    <div class="row">
        <div class="col xl8">
            
            <p>Головна цінність сервісу - наші клієнти.
              Допомагаємо доставити вантажі без зайвих зусиль і переплат. Забезпечуємо ваш транспорт постійною роботою без простоїв і зайвих дзвінків.</p>
        </div>
        <div class="col xl4">
            <h4>Служба підтримки</h4>
            <h5><a href="mailto:support@gmail.com" class="grey-text text-lighten-3">support@cargo.com</a></h5>
        </div>
    </div>
</div>
</div>


<div class="section information">
<div class="container">
    <div class="row">
        <div class="col xl12">
          <h4>CarGo - сайт економічних вантажоперевезень</h4>
          <div class="row">
            <div class="col xl6">
                <p>Унікальний онлайн сервіс з вантажоперевезень, що працює на всій території України, 
                    який дозволить заощадити на перевезенні будь-яких вантажів. Просто розмістіть запит 
                    на перевезення вантажу по Україні і ми підберемо Вам транспортний засіб в лічені хвилини. 
                    Нове джерело замовлень для водіїв і транспортних компаній. Зареєструйтеся на сайті, шукайте 
                    замовлення і виконуйте перевезення. Покращуйте свій рейтинг і отримуйте ще більше замовлень на перевезення</p>
                    <h5>Вантажоперевезення по Україні</h5>
                    <p>Автоперевезення по Україні займають чільну частку серед усіх видів послуг, транспортних послуг. Мінімальна 
                      частина задіяних в даному процесі перевізників працює на контрактній основі з великими підприємствами-замовниками.
                       Решта учасників ринку взаємодіють з клієнтами без підписання угод про довгострокове співробітництво. Такий варіант 
                       двостороннього партнерства є вкрай ризикованим, тому що пошук замовника або перевізника на дошках оголошень може
                        завершитися зустріччю з шахраями.В результаті транспортна організація залишається без заробітку, а замовник позбавляється відправленого вантажу.
                       Засновники сервісу CarGo вирішили проблему взаємодії замовників і перевізників, розробивши об'єднує інтернет-майданчик
                        для оперативної та безпечної доставки вантажів в будь-яку точку України.</p>
                    <h5>CarGo - оперативне розміщення заявки на вантажоперевезення</h5>
                    <p>Для того щоб скористатися послугою вантажоперевезення по Україні, замовнику необхідно зареєструватися в сервісі CarGo. 
                      Транспортно-інформаційний сервіс CarGo дозволяє швидко знайти автомобіль для доставки вантажів між українськими містами. 
                      Для цього замовнику потрібно заповнити коротку форму на перевезення вантажу, вказавши назву і вагогабаритні характеристики. 
                      Також рекомендується вибрати тип рухомого складу, позначити метод навантаження. Перед розміщенням замовлення клієнту пропонується 
                      встановити комфортну вартість перевезення в залежності від передбачуваних системою витрат. Всі перевізники, зареєстровані в 
                      CarGo з відповідним транспортом і встановили мобільний додаток CarGo Driver, моментально отримають повідомлення
                       про появу вільного вантажу на перевезення.</p>
            </div>
            <div class="col xl6">
                <h5>7 причин востребованности сервиса CarGo</h5>
                
              <ol>
                <li>Безкоштовне і оперативне розміщення замовлень вантажовідправником.</li>
                <li>Вантажовідправники звільняються від оплати послуг за пошук необхідного транспорту. 
                  Сервіс в автоматичному режимі підбирає транспорт, відповідний характеристикам вантажу, 
                  паралельно оповіщаючи водіїв про розміщення нової заявки з відповідним вантажем.</li>
                <li>Безкоштовний автоматичний пошук вантажу. Основним інструментом взаємодії перевізників 
                  в сервісі є мобільний додаток CarGo Driver, яке доступне для скачування в Google Play. 
                  Додаток має велику функціональність і надається на безкоштовній основі. З його допомогою перевізник 
                  вибирає, приймає і виконує замовлення. Додаток також виконує обов'язки універсального помічника
                   в дорозі, завдяки Корисним картками. Цей функціонал дає можливість показати найближчі СТО, 
                   заправки, стоянки TIR та кафе по шляху проходження. Приватним перевізникам більше не потрібно 
                   заходити на сайт вантажоперевезень для реєстрації в системі: процедура доступна безпосередньо 
                   з програми. Тільки транспортних компаній використовують веб інтерфейс для реєстрації і 
                   управління перевезеннями всередині компанії онлайн.</li>
                <li>Перевірка документів зареєстрованих перевізників. Успішна реєстрація здійснюють доставку вантажу 
                  неможлива без надання водійських ліцензії та документів на транспортний засіб. Реєструються в сервісі
                   підприємства повинні надати документи, що дають право на комерційну діяльність.</li>
                <li>Складання рейтингу замовників. На основі розміщуються водіями відгуків сервіс CarGo формує
                   рейтинг замовників. Залишені після доставки вантажу коментарі доступні для перегляду всім учасниками 
                   сервісу CarGo.</li>
                <li>Расчет оптимального маршрута и тарифа на перевозку. После указания заказчиком пункта отправки и назначения, 
                  а также предоставления информации о массе груза сервис рассчитает оптимальный тариф на грузовую перевозку по
                   Украине, включающий длину маршрута, стоимость горючего и амортизацию. Перевозчику, в свою очередь, будет
                    предложен кратчайший путь следования с учетом качества дорожного покрытия.</li>
                <li>Оперативная помощь в решении любых вопросов. Операторы службы поддержки CarGo готовы
                  быстро и ответственно решить любой вопрос, касающийся грузоперевозок. Для этого пользователям 
                  сервиса доступны онлайн-чат и контактные номера телефонов с 9.00 до 18.00 (понедельник - пятница). 
                  Кроме того, перевозчики могут связаться с оператором прямо из мобильного приложения.</li>

              </ol>
                    
            </div>
          </div>
          
          
        </div>
    </div>
</div>
</div>
<button class="btn" id="show">Показати більше</button>
<button class="btn" hidden id="close">Скрити</button>

